label{
    display: block;
}
input[type="text"],
input[type="password"]
{
    padding-left: 30px;
}
.body1{
    padding-left: 70px;
    border: 10px solid purple;
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
}

button:hover{
    background-color: purple;
}
 